# Flutter
build/
.dart_tool/
.packages
.pub/
.pub-cache/

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# Environment variables
.env
